* {
  margin: 0;
  box-sizing: border-box;
}
#bar {
  display: flex;
  height: 100%;
  transform: rotate(180deg);
}

.bar {
  background-color: blue;
  width: 300px;
  height: 100px;
  border: 1px solid purple;
  margin-right: 1px;
}
